@font-face {
    font-family: 'Victor Mono';
    src: url('https://leonorvazquezramos.github.io/fonts/VictorMono-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: 'Victor Mono';
}